Redirect 303 /go/logo https://docs.google.com/forms/d/e/1FAIpQLSdxzg2INL1TTYtZ2BTFWqtwk_jSxGqecbGi2Hd4brjiwOh57A/viewform?usp=sf_link
Redirect 303 /go/stop-motion https://www.linkedin.com/pulse/stop-motion-scouts-steven-eddies
Redirect 303 /go/stop-motion-app https://play.google.com/store/apps/details?id=com.whisperarts.kids.stopmotion

